@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');


// Colors
$white: hsl(0, 0%, 100%);
$lightGrey: hsl(212, 45%, 89%);
$blueGray: hsl(220, 15%, 55%);
$blueDark: hsl(218, 44%, 22%);

//font
$outfit:'Outfit', sans-serif;

* {
    margin: 0px;
    padding: 0px;
    font-size: 16px;
}

body {
    background-color: $lightGrey;
    margin-top: 40%;
}

#flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

#cart {
    width: 320px;
    height: 497px;
    background-color: $white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 13px;
    
}

img {
    margin-top: 5%;
    width: 288px;
    height: 288px;
    border-radius: 13px;
}

#title {
    font-family: $outfit;
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 15px;
}

#information {
    font-size: 15px;
    font-weight: 400;
    text-align: center;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 20px;
    font-family: $outfit;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: $blueGray;
}

.attribution {
    padding: 100px;
}

@media only screen and (min-width: 1440px) {
    #cart {
        width: 320px;
        height: 497px;
    }

    img {
        width: 268px;
        height: 268px;
    }
    body {
        margin-top: 20%;
    }
}